<h1>Artist Overview</h1>

<!-- Thumbnails -->
<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag artist.image.thumbnail %>
        <div class="caption">
          <h3>
            <%= link_to artist.name, artist_path(artist), class: "artist-name" %>
          </h3>
        </div>
      </div>
    </div>
    <% end %>
</div>
